@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply bg-background text-textPrimary font-sans antialiased;
}

* {
  @apply border-border;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-surface2;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}
